@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&family=Nunito:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&family=Nunito:wght@200;400;800&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#background {
  background-image: url(photos/AdobeStock_406878337.jpeg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
}


body {

    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.card {
    background-color: hsla(0, 0%, 0%, 0);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    font-family: 'Noto Sans', sans-serif;
    padding-top: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vw;
} 

  .nav {
    top: 0; 
    padding-top: 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 3vw;
    scroll-snap-align: start;
  }

  .nav_buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }

  .nav__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  h {
    font-weight: 500;
  }

  #homebutton {
    list-style: none;
    color: rgba(33, 41, 43, 1);
    font-family: 'Noto Sans', sans-serif;
    border: none;
    background: none;
    text-align: left;
    margin-right: auto;
  }

  #noahhumphreys {
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    margin-top: 0;
    font-size:calc(16px + 1.5vw);
    font-weight: 600;
  }

  #fullstackwebdev {
    margin-top: 0;
    margin-bottom: 0;
    font-size:calc(10px + 1vw);
    font-weight: 500;
    color: rgba(232, 232, 232, 0.492);
  }

  #homebutton:hover {
    background: -webkit-linear-gradient( rgb(94, 188, 255), rgb(242, 98, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }



  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
  }

#linkedinicon {
    color: rgb(255, 255, 255);
    display: block;
    font-size:calc(22px + 2vw);
    padding-left: 2vw;
}

#techstackcard {
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    gap: 5vw;
    height: 100vh;
   
}

#icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size:calc(60px + 2vw);  
    gap: 4vw;
    margin-bottom: 25vw;
}


#aboutmecard {
    text-align: center;
    flex-direction: column;
    justify-content: center;    
    gap: 4vw;
    padding-top: 4vw;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 4vw;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 100vh;
    scroll-snap-align: start;
  }

#aboutmetext {
    flex-direction: row;
}

img {
    height: calc(35px + 12vw);
    width: calc(35px + 12vw);
    border-style: solid;
    border-color: white;
    box-shadow: 0px 0px 7px 2px rgb(193, 193, 193);
    border-width: .5vw;
    border-radius: 100vw;
    margin-bottom: 4vw;
}

    #youtube {
      width: calc(120px + 20vw);
      height: calc(75px + 15vw);
      align-content: center;
    }


#projectscard {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 4vw;
    padding-top: 4vw;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 4vw;
    height: 100vh;
    scroll-snap-align: start;

}

p {
  font-size:calc(10px + 1.5vw);
  font-weight: 300;
}

h3 {
  font-size:calc(12px + 2.75vw);
  font-weight: 500;
}

html {
  scroll-snap-type: y mandatory;
}