@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
    font-family: CalSans-SemiBold;
    src: url(./assets/CalSans-SemiBold.woff);
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
    font-family: CalSans-SemiBold,sans-serif;
    color: #ffffff !important;
}

.bg-sitegradient {
    background-color: rgb(13, 16, 45);
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
}
.highlight-item {
    border-radius: 1.25rem;
}

.border-jacarta-600{
    border-color: rgb(54, 58, 93);
}

.bg-jacarta-700{
    background-color: rgb(19, 23, 64);
}

.text-jacarta-200, .text-jacarta-300 {
    color: rgb(196, 197, 207);
}

.purple {
    color: #8358FF !important;
}

.white {
    color: #ffffff !important;
}

.gradient-bg {
    background-image: url('./assets/gradient.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 7em;
    padding-bottom: 7em;
}

.green {
    color: rgb(16 185 129);
}

.icon {
    font-size: 2em;
}

#pricing span {
    font-size: 1.3em;
}

.text-large {
    font-size: 3em !important;
    margin-top: 30px !important;
}
#pricing {
    z-index: 1 !important;
    align-items: center;
}
#pricing > div {
    position: relative;
    z-index: 100 !important;
}
#circle_1, #circle_2 {
    display: none;
    opacity: .1;
    z-index: 2 !important;
}

#circle_1 {
    left: -34px;
    top: 300px;
}
#circle_2 {
    right: -77px;
    top: -33px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-359deg);
    }
}

.hero-img {
    animation: rotation 50s infinite linear;
}

.background-blur {
    backdrop-filter: blur(15px);
}